body {
  font-family: sans-serif;
}

.tabela {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: column;
}

.child {
  width: 100px;
  height: 100px;
  background-color: #ffeb3b;
  margin: 2px;
  border-style: solid;
  text-align: center;
  font-size: 350%;
}

.a1 {
  background-color: #64b5f6;
}

.a2 {
  background-color: #a1887f;
}

.b3 {
  background-color: #ffd740;
}

.white {
  background-color: #f5f5f5;
}

.a3 {
  background-color: #f8bbd0;
}

.blue {
  background-color: #64b5f6;
}

.light-blue {
  background-color: #b3e5fc;
}

.orange {
  background-color: #ff8f00;
}
